################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Codify.VisualStudioOnline.BuildLight/bin/x86/Debug
